#nav_main,
#ShopingCart{
    background-color: #000;
}
#nav_main .nav-item,
#nav_main .dropdown-item,
#ShopingCart{
    font-size: 0.8rem;
    text-transform: uppercase;
}
#nav_main .dropdown-item.active,
#nav_main  .dropdown-item:active {
    color: #fff;
    background-color: #000
}
