#nav_main,
#ShopingCart{
    background-color: #000;
}
#nav_main .nav-item,
#nav_main .dropdown-item,
#ShopingCart{
    font-size: 0.8rem;
    text-transform: uppercase;
}
#nav_main .dropdown-item.active,
#nav_main  .dropdown-item:active {
    color: #fff;
    background-color: #000
}

@media (min-width: 992px){
	#nav_main .dropdown:hover>.dropdown-menu {
		display: block;
	}
	#nav_main .dropdown>.dropdown-toggle:active {
		pointer-events: none;   // Add this, to prevent clicking dropdown's default click function
	}
}