.blog .big_post img{
	max-width: 100%;
    height: auto;
}

.blog .big_post #header{
    text-align: justify;
}

.blog .small_post #text{
	flex: 1;
}

.blog .small_post #text #header{
	font-size: 1.7rem;
}

.blog .big_post #text #excerpt,
.blog .small_post #text #excerpt{
	text-align: justify;
}