body {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    position: relative;
}
.gradient {
    background: linear-gradient(#e6e6e6, #f7f8fa);
}
.top-line {
    border-top: 1px solid #ccc;
}
.bottom-line {
    border-bottom: 1px solid #ccc;
}
#FeatureSlider img {
    height: 404px;
    width: 609px;
}
.product_header {
    background: url("../../images/fondo.jpg") no-repeat center top;
    background-size: cover;
    /* background-attachment: fixed !important; */
    color: #fff;
    display: flex;
    flex-direction: column;
}
.product_header .nav_main {
    background-color: rgba(0, 0, 0, 0.6);
}
.product_header .h1,
.h2 {
    font-weight: 300;
}
.product_header .h1{
    font-size: 2.5rem;;
}
.product_header .h2 {
    font-size: 1.3rem;;
}
section .h2 {
    font-size: 2.3rem;
    font-weight: 300;
}

.sec_overview h3{
    font-size: 1.2rem;
    font-weight: 300;
    text-align: justify;
}
.sec_features {
    color: #fff;
}
.sec_features .show_all,
.sec_features .show_all:hover {
    font-size: 1.5rem;
    color: #fff;
}
.sec_features a,
.sec_features a:hover {
    color: #000;
    text-decoration: none;
}
.sec_features .feature {
    display: flex;
    align-items: flex-start;
    margin-top: 1rem;
}
.sec_features .feature i {
    font-size: 5rem;
}
.sec_features .feature .h3 {
    font-size: 1.2rem;
    font-weight: 400;
}
.sec_features .feature .text {
    margin-left: 1rem;
}
.sec_pricing .row {
    justify-content: center;
}

.sec_pricing .edition-col {
    flex: 1 1 auto;
    border: 1px black solid;
}

.sec_pricing .pricing_table .head {
    color: #fff;
    text-align: center;
    padding: .6rem 0rem;
    font-size: 2rem;
    font-weight: 100;
}
.sec_pricing .pricing_table .price {
    color: #fff;
    background-color: #000;
    text-align: center;
}
.sec_pricing .pricing_table .price .amount {
    font-size: 4rem;
}
.sec_pricing .pricing_table .price p {
    padding: 0;
    margin: 0;
}
.sec_pricing .pricing_table .features {
    background: #ededed;
    margin-bottom: 2rem;
    min-height: 330px;
}
.sec_pricing .pricing_table .features ul {
    list-style: none;
    margin: 0;
    padding: 1rem;
}
.sec_pricing .pricing_table .features .check,
.sec_pricing .pricing_table .features .uncheck {
    position: relative;
    padding-left: 20px;
}
.sec_pricing .pricing_table .features .check:before,
.sec_pricing .pricing_table .features .uncheck:before {
    position: absolute;
    top: 0;
    left: 0;
    font-family: spm_fonts;
}
.sec_pricing .pricing_table .features .check:before {
    color: green;
    content: "\f00c";
}
.sec_pricing .pricing_table .features .uncheck:before {
    color: red;
    content: "\f00d";
}

.shadow {
  -webkit-box-shadow: 0px 0px 15px -5px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 15px -5px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 15px -5px rgba(0,0,0,0.75);
}
