.btn{
    border-radius: 0;
}

.btn-tryit{
	background-color: #3F92FF;
}

.btn-tryit:hover{
	background-color: #286eca;
}

.btn-tryit, .btn-tryit:hover, .btn-tryit:visited, .btn-tryit:hover{
	color: #FFF;
}