.btn{
    border-radius: 0;
}

.btn-tryit, .btn-tryit:hover, .btn-tryit:visited, .btn-tryit:hover{
	color: #FFF;
}

.btn-tryit:hover{
	filter: brightness(80%);
}

.btn-buynow{
	background-color: #b15b07;
}

.btn-buynow:hover{
	background-color: #cc6c0e;
}

.btn-buynow, .btn-buynow:hover, .btn-buynow:visited, .btn-buynow:hover{
	color: #FFF;
}