@import "font_variables";

@font-face {
  font-family: 'spm_fonts';
  src:  url('#{$icomoon-font-path}/spm_fonts.eot?5uq4h3');
  src:  url('#{$icomoon-font-path}/spm_fonts.eot?5uq4h3#iefix') format('embedded-opentype'),
    url('#{$icomoon-font-path}/spm_fonts.ttf?5uq4h3') format('truetype'),
    url('#{$icomoon-font-path}/spm_fonts.woff?5uq4h3') format('woff'),
    url('#{$icomoon-font-path}/spm_fonts.svg?5uq4h3#spm_fonts') format('svg');
  font-weight: normal;
  font-style: normal;
}

i {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'spm_fonts' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-shopping-cart {
  &:before {
    content: $icon-shopping-cart;
  }
}
.icon-arrow-circle-o-right {
  &:before {
    content: $icon-arrow-circle-o-right;
  }
}
.icon-features-import {
  &:before {
    content: $icon-features-import;
  }
}

