#navbar_main .btn, #nav_product .btn{
	font-size: 0.8rem;
	width: 130px;
}

#nav_main .dropdown{
	z-index: 10000;
}

#nav_main, #nav_product{
	padding-left: 0rem;
	padding-right: 0rem;
	height: 68px;
}

#nav_product>.navbar-brand{
	color: rgb(132, 132, 132);
    font-size: 1.4rem;
    font-weight: 300;
}
