.nav_main{
    padding: 0;
    height: 48px; /* Era 68px */
    background-color: rgba(0,0,0,1);
}

.nav_main .container{
    display: flex;
    height: 100%;
    padding: 0;
    align-items: center;
}

.nav_main a{
    flex: 1 1 auto;
}

.nav_main ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    align-items: center;
}

.nav_main ul li{
    margin-left: 2rem;
    text-transform: uppercase;
    color: #fff;
    position: relative;
}

.nav_main ul li a,
.nav_main ul li a:hover{
    color: #fff;
    text-decoration: none;
    font-weight: 400;
    font-size: .8rem;
}

.nav_main .dropdown-item,
.nav_main .dropdown-item:hover {
    color: black;
}

.nav_main .btn{
    background: #000;
    color: #fff;
    border-radius: 0;
    padding: 0.4rem 0.5rem;
    margin-left: 2rem;
    font-size: .8rem;
}

.nav_product {
    flex-direction: row;
    justify-content: center;
    padding: 0;
    height: 70px;
    display: flex;
    background: rgba(255, 255, 255, 0.95);
    border-bottom: 1px solid #9E9E9E;
    border-top: 1px solid #9E9E9E;    
}

.nav_product .navbar{
    flex-direction: row;
    padding: 0;
}

.nav_product .nav{
    height: 100%;
    align-items: center;
}

.nav_product .navbar-brand{
    font-weight: 400;
    display: flex;
    align-items: center;
}

.nav_product .navbar-brand img{
    margin-right: 15px;
}

.nav_product .nav-link{
    color: black;
    border-radius: 0px;
    padding: 0 1rem;
    line-height: 70px;
}

.nav_product .nav-link.active {
    color: black;
    background: rgba(225, 229, 234, .7);
}

.nav_product .icon-logo_apps{
    font-size: 2.8rem;
}

.nav_product .btn-tryit{
    margin-left: 1rem;
}