$icomoon-font-path: "../fonts" !default;

$icon-chevron-down: "\f078";
$icon-shopping-cart: "\f07a";
$icon-arrow-circle-o-right: "\f18e";
$icon-features-export: "\e908";
$icon-features-license: "\e907";
$icon-feaures-earth: "\e906";
$icon-features-data: "\e905";
$icon-features-translate: "\e904";
$icon-features-bgmaps: "\e903";
$icon-features-tasks: "\e902";
$icon-features-coordinates: "\e901";
$icon-features-import: "\e900";

