<section id="footer">
		<div class="container">
			<div class="row text-center text-xs-center text-sm-left text-md-left">
				<div class="col-xs-12 col-sm-4 col-md-4">
					<h5>Products</h5>
					<ul class="list-unstyled quick-links">
						<li><a href="/spm-desktop/"><i class="icon-angle-double-right-solid"></i>Spatial Manager Desktop™</a></li>
						<li><a href="/spm-forautocad/"><i class="icon-angle-double-right-solid"></i>Spatial Manager™ for AutoCAD</a></li>
						<li><a href="/spm-forbricscad/"><i class="icon-angle-double-right-solid"></i>Spatial Manager™ for BricsCAD</a></li>
						<li><a href="/spm-forzwcad/"><i class="icon-angle-double-right-solid"></i>Spatial Manager™ for ZWCAD</a></li>
					</ul>
				</div>
				<div class="col-xs-12 col-sm-4 col-md-4">
					<h5>Partners</h5>
					<ul class="list-unstyled quick-links">
						<li><a href="javascript:void();"><i class="icon-angle-double-right-solid"></i>International Resellers</a></li>
						<li><a href="javascript:void();"><i class="icon-angle-double-right-solid"></i>How to Become a Reseller</a></li>
					</ul>
				</div>
				<div class="col-xs-12 col-sm-4 col-md-4">
					<h5>Other</h5>
					<ul class="list-unstyled quick-links">
						<li><a href="javascript:void();"><i class="icon-angle-double-right-solid"></i>About</a></li>
						<li><a href="javascript:void();"><i class="icon-angle-double-right-solid"></i>Contact Us</a></li>
						<li><a href="javascript:void();"><i class="icon-angle-double-right-solid"></i>Terms of use</a></li>
						<li><a href="javascript:void();"><i class="icon-angle-double-right-solid"></i>Privacy & Cookies</a></li>
					</ul>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-5">
					<ul class="list-unstyled list-inline social text-center">
						<li class="list-inline-item"><a href="https://www.facebook.com/SpatialManager" target="_blank"><i class="icon-facebook-f-brands"></i></a></li>
						<li class="list-inline-item"><a href="https://twitter.com/SpatialManager" target="_blank"><i class="icon-twitter-brands"></i></a></li>
						<li class="list-inline-item"><a href="https://www.youtube.com/user/SpatialManager" target="_blank"><i class="icon-youtube-brands"></i></a></li>
						<li class="list-inline-item"><a href="https://www.linkedin.com/company/spatial-manager" target="_blank"><i class="icon-linkedin-brands"></i></a></li>
					</ul>
				</div>
				</hr>
			</div>	
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-2 text-center text-white">
					<p class="h6">&copy All right Reversed. Opencartis 2019.</a></p>
				</div>
				</hr>
			</div>	
		</div>
	</section>
	
<!-- jQuery first, then Tether, then Bootstrap JS. -->
<script src="/js/jquery-slim.min.js"></script>
<script src="/js/popper.min.js"></script>
<script src="/js/bootstrap.min.js"></script>

<script src="/js/wow.min.js"></script>
<script type="text/javascript">
    new WOW().init();

</script>

</body>

</html>