<nav class="navbar navbar-toggleable-md navbar-light">
	<button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
	<span class="navbar-toggler-icon"></span>
	</button>
	<a class="navbar-brand" href="{{ site.url }}"><img src="images/logo.jpg" alt="Spatial Manager logo" width="260" height="50"></a>

	<div class="collapse navbar-collapse float-md-right" id="navbarTogglerDemo02">
		<ul class="navbar-nav ml-auto">
	    	<li class="nav-item mr-lg-3{% if page.url == '/tour.html' %} active{% endif %}">
	    		<a class="nav-link" href="tour.html">Product tour</a>
			</li>
    		<li class="nav-item mr-lg-3{% if page.url == '/pricing.html' %} active{% endif %}">
		    	<a class="nav-link" href="pricing.html">Pricing</a>
		    </li>
	    	<li class="nav-item mr-lg-3{% if page.url == '/support.html' %} active{% endif %}">
		    	<a class="nav-link" href="support.html">Support</a>
		    </li>
			<li class="nav-item mr-lg-3{% if page.url == '/blog.html' %} active{% endif %}">
		    	<a class="nav-link" href="blog.html">Blog</a>
		    </li>
	    	<li>
	    		<a href="#" class="btn btn-tryit mr-lg-3 mt-lg-1">TRY IT FOR FREE</a>
	    	</li>
	    	<li>
	    		<a href="#" class="btn btn-secondary mr-lg-3 mt-lg-1 mt-2"><i class="fa fa-shopping-cart" aria-hidden="true"></i> Cart (0)</a>
	    	</li>
	    </ul>
	</div>
</nav>