<nav class="navbar nav_main">
    <div class="container">
        <a href="{{ site.url }}">
            <img src="/images/logo_oc.svg" alt="Opencartis logo" width="170" height="auto"> <!--Era 252px -->
        </a>

        <ul>
            <li>
                <a class="dropdown-toggle" id="dropdownMenu1" data-toggle="dropdown" href="#">Products</a>
                <div class="dropdown-menu dropdown-menu" aria-labelledby="dropdownMenu1">
                    <a class="dropdown-item" href="/spm-desktop/">SPM Desktop</a>
                    <a class="dropdown-item" href="/spm-forautocad/">SPM for AutoCAD</a>
                    <a class="dropdown-item" href="/spm-forbricscad/">SPM for BricsCAD</a>
                    <a class="dropdown-item" href="/spm-forzwcad/">SPM for ZWCAD</a>
                </div>
            </li>
            <li>
                <a class="dropdown-toggle" id="dropdownMenu1" data-toggle="dropdown" href="#">Resources</a>
                <div class="dropdown-menu dropdown-menu" aria-labelledby="dropdownMenu1">
                    <a class="dropdown-item" href="http://wiki.spatialmanager.com/" target="_blank">Wiki</a>
                    <a class="dropdown-item" href="#">Blog</a>
                    <a class="dropdown-item" href="#">Downloads</a>
                </div>
            </li>
            <li>
                <a class="dropdown-toggle" id="dropdownMenu1" data-toggle="dropdown" href="#">Support</a>
                <div class="dropdown-menu dropdown-menu" aria-labelledby="dropdownMenu1">
                    <a class="dropdown-item" href="#">Contact Us</a>
                    <a class="dropdown-item" href="#">Support</a>
                </div>
            </li>            
            <li><a href="#">Prices</a></li>
        </ul>

        <button class="btn btn-secondary"><i class="icon-shopping-cart"></i> Cart (0)</button>
    </div>
    </div>
</nav>