<nav class="navbar navbar-toggleable-md navbar-light" id="nav_product">
	<button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
	<span class="navbar-toggler-icon"></span>
	</button>
	<span class="navbar-brand">{{ page.product_name }}</span>

	<div class="collapse navbar-collapse" id="navbarTogglerDemo02">
		<ul class="nav navbar-nav ml-auto">
		   	<li class="nav-item mr-lg-3">
	    		<a class="nav-link" href="#">Overview</a>
			</li>
    		<li class="nav-item mr-lg-3">
		    	<a class="nav-link" href="#">Features</a>
		    </li>
		    <li class="nav-item mr-lg-3">
		    	<a class="nav-link" href="#">Editions</a>
		    </li>
		    <li class="nav-item mr-lg-3">
		    	<a class="nav-link" href="#">Pricing</a>
		    </li>
	    </ul>
		<a href="#" class="btn btn-tryit my-auto">TRY IT FOR FREE</a>
	</div>
</nav>