<nav class="navbar navbar-light" id="nav_product">
	<!--<span class="navbar-brand"><img src="/images/logo_spm_bricscad.png" alt="Spatial Manager for BricsCAD - logo" width="220" height="42"></span>-->
	<!--<span class="navbar-brand"><img src="/images/logo_spm_bricscad_bn.png" alt="Spatial Manager for BricsCAD - logo" width="220" height="42"></span>-->
	<!--<span class="navbar-brand"><img class="mr-2" src="/images/logo_spm_bricscad_small.png" alt="Spatial Manager for BricsCAD - logo" width="42" height="42">Spatial Manager for BricsCAD</span>-->
	<div class="navbar-brand"><img class="mr-2" src="/images/logo_spm_bricscad_bn_small.png" alt="Spatial Manager for BricsCAD - logo" width="42" height="42">Spatial Manager for BricsCAD</div>

    <ul class="nav nav-pills ml-auto">
        <li class="nav-item">
            <a class="nav-link" href="#">Features</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Editions</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Pricing</a>
        </li>
    </ul>
    <a href="#" class="btn btn-tryit my-auto">TRY IT FOR FREE</a>
</nav>