<nav class="navbar navbar-toggleable-md navbar-light" id="nav_product">
	<button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
	<span class="navbar-toggler-icon"></span>
	</button>
	<!--<span class="navbar-brand"><img src="/images/logo_spm_bricscad.png" alt="Spatial Manager for BricsCAD - logo" width="220" height="42"></span>-->
	<!--<span class="navbar-brand"><img src="/images/logo_spm_bricscad_bn.png" alt="Spatial Manager for BricsCAD - logo" width="220" height="42"></span>-->
	<!--<span class="navbar-brand"><img class="mr-2" src="/images/logo_spm_bricscad_small.png" alt="Spatial Manager for BricsCAD - logo" width="42" height="42">Spatial Manager for BricsCAD</span>-->
	<span class="navbar-brand"><img class="mr-2" src="/images/logo_spm_bricscad_bn_small.png" alt="Spatial Manager for BricsCAD - logo" width="42" height="42">Spatial Manager for BricsCAD</span>

	<div class="collapse navbar-collapse" id="navbarTogglerDemo02">
		<ul class="nav navbar-nav ml-auto">
		   	<li class="nav-item mr-lg-3">
	    		<a class="nav-link" href="#">Overview</a>
			</li>
    		<li class="nav-item mr-lg-3">
		    	<a class="nav-link" href="#">Features</a>
		    </li>
		    <li class="nav-item mr-lg-3">
		    	<a class="nav-link" href="#">Editions</a>
		    </li>
		    <li class="nav-item mr-lg-3">
		    	<a class="nav-link" href="#">Pricing</a>
		    </li>
	    </ul>
		<a href="#" class="btn btn-tryit my-auto">TRY IT FOR FREE</a>
	</div>
</nav>