<nav class="navbar navbar-toggleable-md navbar-light" id="nav_main" >
	<div class="container">
		<button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbar_main" aria-controls="navbar_main" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
		</button>
		<a class="navbar-brand" href="{{ site.url }}"><img src="/images/logo_200.jpg" alt="Spatial Manager logo" width="200" height="38"></a>

		<div class="collapse navbar-collapse" id="navbar_main">
			<ul class="nav navbar-nav">
				<li class="nav-item dropdown" role="presentation">
					<a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Products<span class="caret"></span>
					</a>
					<div class="dropdown-menu" aria-labelledby="Preview">
						<a class="dropdown-item" href="/spm-desktop">SPM Desktop</a>
						<a class="dropdown-item" href="/spm-forautocad">SPM for AutoCAD</a>
						<a class="dropdown-item" href="/spm-forbricscad">SPM for BricsCAD</a>
					</div>
				</li>
				<li class="nav-item mr-lg-3">
					<a class="nav-link" href="/support.html">Support</a>
				</li>
				<li class="nav-item mr-lg-3">
					<a class="nav-link" href="/blog">Blog</a>
				</li>
			</ul>
			<a href="#" class="btn btn-secondary ml-auto"><i class="fa fa-shopping-cart fa-fw" aria-hidden="true"></i> Cart (0)</a>
		</div>
	</div>
</nav>