.product_header {
    background: url("../../images/fondo.jpg") no-repeat center top;
    background-size: cover;
    /* background-attachment: fixed !important; */
    color: #fff;
    display: flex;
    flex-direction: column;
}
.product_header .h1{
    font-size: 2.5rem;;
}
.product_header .h2 {
    font-size: 1.3rem;;
}
section .h2 {
    font-size: 2.3rem;
}
#nav_product{
    background-color: rgba(255, 255, 255, 0.95);
    border-bottom: 1px solid #9E9E9E;
    border-top: 1px solid #9E9E9E;    
}
#nav_product .navbar-brand{
    display: flex;
    align-items: center;
    font-weight: 400
}
#nav_product .icon-logo_apps{
    font-size: 2.8rem;
}
.fixed-top + section{
    margin-top: 70px
}
.sec_overview h3{
    font-size: 1.2rem;
    text-align: justify;
}
.sec_features {
    color: #fff;
}
.sec_features .show_all,
.sec_features .show_all:hover {
    font-size: 1.5rem;
    color: #fff;
}
.sec_features a,
.sec_features a:hover {
    color: #000;
    text-decoration: none;
}
.sec_features .feature {
    display: flex;
    align-items: flex-start;
    margin-top: 1rem;
}
.sec_features .feature i {
    font-size: 5rem;
}
.sec_features .feature .h3 {
    font-size: 1.2rem;
    font-weight: 400;
}
.sec_features .feature .text {
    margin-left: 1rem;
}
.sec_pricing .row {
    justify-content: center;
}

.sec_pricing .pricing_table .head {
    color: #fff;
    text-align: center;
    padding: .6rem 0rem;
    font-size: 2rem;
    font-weight: 100;
}
.sec_pricing .pricing_table .price {
    color: #fff;
    background-color: #000;
    text-align: center;
}
.sec_pricing .pricing_table .price .amount {
    font-size: 4rem;
}
.sec_pricing .pricing_table .price p {
    padding: 0;
    margin: 0;
}
.sec_pricing .pricing_table .features {
    background: #ededed;
    margin-bottom: 2rem;
    min-height: 330px;
}
.sec_pricing .pricing_table .features ul {
    list-style: none;
    margin: 0;
    padding: 1rem;
}
.sec_pricing .pricing_table .features .check,
.sec_pricing .pricing_table .features .uncheck {
    position: relative;
    padding-left: 20px;
}
.sec_pricing .pricing_table .features .check:before,
.sec_pricing .pricing_table .features .uncheck:before {
    position: absolute;
    top: 0;
    left: 0;
    font-family: spm_fonts;
}
.sec_pricing .pricing_table .features .check:before {
    color: green;
    content: "\f00c";
}
.sec_pricing .pricing_table .features .uncheck:before {
    color: red;
    content: "\f00d";
}
.sec_faqs{
    background-image:url('/images/bottom-blob.svg');
    background-repeat:no-repeat;
    background-size: 50%;
    background-position: top;
}
.sec_faqs .card{
    border-radius: 0rem;
}
.sec_faqs .card-header{
    background-color: #FFFFFF;
    border-bottom: 0rem;
    padding: .5rem 1.25rem;
}
.sec_faqs .card-header .icon{
    align-self: center;
    font-size: 0.8rem;
    text-align: center;
    width: 15px;
}
.sec_faqs .card-header .icon:before {
    content: "\e90f";
}
.sec_faqs .card-header .icon {
    transition: .2s transform ease-in-out;
    transform: rotate(90deg);
}
.sec_faqs .card-header .collapsed .icon {
    transition: .2s transform ease-in-out;
    transform: rotate(0deg);
}
.sec_faqs .question{
    cursor: pointer;
    display: flex;
    font-weight: 400;
}
.sec_faqs .question .text{
    margin-left: 15px;
}
.sec_faqs .card-body{
margin-left: 30px;
}

