---
layout: blog
css_file: /layouts/old-post.css
---

<div class="old-post pb-5">
	<h1 class="post-header">{{ page.title }}</h1>
	<div class="post-data">
		<div class="date mr-4">
			{{ page.date | date: '%B %d, %Y' }}
		</div>
		<div class="categories-tags">
			{% for category in page.categories %}
			    {{ category }}
			{% endfor %}
			/
			{% for tag in page.tags %}
			    {{ tag }}
			    {% if forloop.last != true %}
				,
				{% endif %}
			{% endfor %}
		</div>
	</div>
	<article class="post-content">
		{{ content }}
	</article>
	<hr class="d-none d-sm-flex">
	{% include post_footer.html %}
</div>