---
layout: blog
css_file: /layouts/posts.css
---

<div class="posts">
   {% for post in paginator.posts%}
      {% if forloop.first and paginator.page == 1 %}
        {% assign post_div_class = 'big_post' %}
        {% assign image_div_class = 'col-md-6' %}
        {% assign image_img_class = 'border' %}
        {% assign image = post.big_image %}
        {% assign text_div_class = 'col-md-6 mt-2 mt-md-0' %}
        {% assign words = 40 %}
      {% else %}
        {% assign post_div_class = 'small_post' %}
        {% assign image_div_class = 'col-auto d-none d-md-block' %}
        {% assign image_img_class = '' %}
        {% assign image = post.image %}
        {% assign text_div_class = 'col-12' %}
        {% assign words = 25 %}
      {% endif %}

      <div class="{{ post_div_class }} row">
        <div class="{{ image_div_class }}"><img class="{{ image_img_class }}" src="{{ image }}" alt="{{ post.title }}"></div>
        <div class="{{ text_div_class }}" id="text">
          <div class="h2" id="header"><a href="{{ post.url }}">{{ post.title }}</a></div>
          <div id="excerpt">{{ post.excerpt | truncatewords: words }}<a href="{{ post.url }}">&nbspmore</a></div>
        </div>
      </div>

    {% if forloop.last == false  %} 
      <hr>
    {% endif %}
  {% endfor %}

  {% if paginator.total_pages > 1 %}
    <div class="pagination mt-5">
      {% if paginator.previous_page %}
        <a class="mr-auto" href="{{ paginator.previous_page_path | relative_url }}">&laquo; Newer entries</a>
      {% endif %}

      {% if paginator.next_page %}
        <a class="ml-auto" href="{{ paginator.next_page_path | relative_url }}">Older entries &raquo;</a>
      {% endif %}
    </div>
  {% endif %}
</div>