{% include header.html %}

<body data-spy="scroll" data-target=".nav_product" data-offset="60">

    <header class="product_header">

        {% include nav_main.html %}

        <div class="content container text-center">
            <div class="main">
                <h2 class="my-5 h2">Spatial Manager for BricsCAD</h2>
                <h1 class="my-4 h1">The <span class="underline-handwriting">real</span> choice to satisfy your GIS needs</h1>
                <p class="lead w-75 mx-auto">Spatial Manager for BricsCAD is a powerful BricsCAD complement designed for users who need to import, export and manage spatial data in a simple, fast and inexpensive way.</p>
                <a href="#" class="btn btn-lg btn-tryit my-4">TRY IT FOR FREE</a>
            </div>
            <div class="down_arrow">
                <a data-scroll href="#overview">
                    <i class="fa fa-angle-down" aria-hidden="true"></i>
                </a>
            </div>
        </div>
    </header>

    <div class="fixed-top nav_product">
        <div class="container">
            <nav class="navbar ">
                <div class="navbar-brand"><img src="/images/logo_spm_bricscad_small.png" alt="Spatial Manager for BricsCAD - logo" width="42px" height="42"> Spatial Manager for BricsCAD</div>

                <ul class="nav nav-pills ml-auto">
                    <li class="nav-item">
                        <a data-scroll class="nav-link" href="#overview">Overview</a>
                    </li>
                    <li class="nav-item">
                        <a data-scroll class="nav-link" href="#features">Features</a>
                    </li>
                    <li class="nav-item">
                        <a data-scroll class="nav-link" href="#editions">Editions</a>
                    </li>
                    <li class="nav-item">
                        <a data-scroll class="nav-link" href="#pricing">Pricing</a>
                    </li>
                </ul>

                <a href="#" class="btn btn-tryit my-auto">TRY IT FOR FREE</a>
            </nav>
        </div>
    </div>


    <section id="overview" class="product_overview">
        <div class="container">
            <h2 class="text-center font-weight-bold my-5">Overview</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita aspernatur, tenetur, nemo ducimus porro est dolore quis, odio at eum repudiandae aperiam tempore officia, labore ex! Quam nihil eveniet ullam.</p>
            <br>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita aspernatur, tenetur, nemo ducimus porro est dolore quis, odio at eum repudiandae aperiam tempore officia, labore ex! Quam nihil eveniet ullam.</p>
            <br>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita aspernatur, tenetur, nemo ducimus porro est dolore quis, odio at eum repudiandae aperiam tempore officia, labore ex! Quam nihil eveniet ullam.</p>
            <br>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita aspernatur, tenetur, nemo ducimus porro est dolore quis, odio at eum repudiandae aperiam tempore officia, labore ex! Quam nihil eveniet ullam.</p>
            <br>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita aspernatur, tenetur, nemo ducimus porro est dolore quis, odio at eum repudiandae aperiam tempore officia, labore ex! Quam nihil eveniet ullam.</p>
        </div>
    </section>

    <section id="features" class="product_features">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div id="FeatureSlider" class="carousel" data-interval="false">
                        <div class="carousel-inner" role="listbox">
                            <div class="carousel-item active">
                                <img class="d-block img-fluid" src="{{ site.url }}/images/slider/heatmaps-0.jpg" alt="Heatmaps">
                            </div>
                            <div class="carousel-item">
                                <img class="d-block img-fluid" src="{{ site.url }}/images/slider/recordings-0-plus.jpg" alt="Recodings">
                            </div>
                            <div class="carousel-item">
                                <img class="d-block img-fluid" src="{{ site.url }}/images/slider/funnels-0.jpg" alt="Funnels">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <a class="mb-5" href="#FeatureSlider" data-slide-to="0">Heatmaps</a>
                    <br />
                    <a class="mb-5" href="#FeatureSlider" data-slide-to="1">Recodings</a>
                    <br />
                    <a class="mb-5" href="#FeatureSlider" data-slide-to="2">Funnels</a>
                </div>
            </div>
        </div>
    </section>

    <section id="editions" class="editions my-5">
        <div class="container">
            <h2 class="text-center font-weight-bold my-5">Editions</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque nihil architecto nostrum vel autem quia nulla eaque odio consectetur dolorum, facere perspiciatis expedita, consequuntur quibusdam totam quasi quam assumenda hic!</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque nihil architecto nostrum vel autem quia nulla eaque odio consectetur dolorum, facere perspiciatis expedita, consequuntur quibusdam totam quasi quam assumenda hic!</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque nihil architecto nostrum vel autem quia nulla eaque odio consectetur dolorum, facere perspiciatis expedita, consequuntur quibusdam totam quasi quam assumenda hic!</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque nihil architecto nostrum vel autem quia nulla eaque odio consectetur dolorum, facere perspiciatis expedita, consequuntur quibusdam totam quasi quam assumenda hic!</p>
        </div>
    </section>

    <section id="pricing" class="pricing">
        <div class="container">
            <h2 class="text-center font-weight-bold my-5">Pricing</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque nihil architecto nostrum vel autem quia nulla eaque odio consectetur dolorum, facere perspiciatis expedita, consequuntur quibusdam totam quasi quam assumenda hic!</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque nihil architecto nostrum vel autem quia nulla eaque odio consectetur dolorum, facere perspiciatis expedita, consequuntur quibusdam totam quasi quam assumenda hic!</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque nihil architecto nostrum vel autem quia nulla eaque odio consectetur dolorum, facere perspiciatis expedita, consequuntur quibusdam totam quasi quam assumenda hic!</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque nihil architecto nostrum vel autem quia nulla eaque odio consectetur dolorum, facere perspiciatis expedita, consequuntur quibusdam totam quasi quam assumenda hic!</p>
        </div>
    </section>

    <script src="/js/jquery.min.js"></script>
    <script type="text/javascript">
        $(document).scroll(function() {
            var t = document.getElementById("overview").offsetTop - 60;

            if ($(this).scrollTop() >= t) {
                /*$('.nav_product').fadeIn();*/
                $('.nav_product').css({
                    display: 'flex'
                });
            } else {
                $('.nav_product').css({
                    display: 'none'
                });
            }
        });

    </script>

    {% include footer.html %}
